<div>
  <div>
    <h4>Course List</h4>
  </div>
  <table class="table table-bordered">
    <tr>
      <th>Course ID</th>
      <th>Course Name</th>
      <th>Hour/Day</th>
      <th>Student Capacity</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
    <tr *ngFor='let o of api.courselist'>
      <td>{{o.id}}</td>
      <td>{{o.name}}</td>
      <td>{{o.hour}}</td>
      <td>{{o.capacity}}</td>
      <td>{{o.start}}</td>
      <td>{{o.end}}</td>
    </tr>
  </table>  
</div>

<div>
  <div>
    <h4>Add Course</h4>
  </div>
  <form>
    <div class="row form-group">
      <label class="col-md-2">Course Name</label>
      <input type="text" class="col-md-10" style="width:60%" name="namenya" [(ngModel)]="bName" placeholder="Course Name">
    </div>
    <div class="form-group row">
      <label class="col-md-2">Hour/Day</label>
      <input type="text" class="col-md-10" name="hournya" style="width:60%" [(ngModel)]="bHour" placeholder="Hour/Day">
    </div>
    <div class="form-group row">
      <label class="col-md-2">Student Capacity</label>
      <input type="text" class="col-md-10" name="capacitynya" style="width:60%" [(ngModel)]="bCapacity" placeholder="Capacity">
    </div>
    <div class="form-group row">
      <label class="col-md-2">Start Time</label>
      <input type="text" class="col-md-10" name="startnya" style="width:60%" [(ngModel)]="bStart" placeholder="Start TIme">
    </div>
    <div class="form-group row">
      <label class="col-md-2">End Time</label>
      <input type="text" class="col-md-10" name="endnya" style="width:60%" [(ngModel)]="bEnd" placeholder="End Time">
    </div>
    <button type="submit" class="btn btn-default" (click)="addNew()">Submit</button>
  </form>
</div>

